<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit your chat</title>
</head>
<body>
    <h3>Edit your chat : <%= chat.id %></h3>
    <p>Chat sent by <%= chat.from %> to the <%= chat.to %></p>
    <form action="/chats/<%= chat.id%>?_method=PUT" method="post">
        <textarea name="msg" id="" cols="30" rows="10"><%= chat.msg %>
        </textarea>
        <br>
        <button type="submit">submit edit</button>
    </form>
</body>
</html>